<span>
  <%= f.check_box :_destroy,
	      { :checked => f.object.persisted? },
	      '0', '1'
	%>
	<%= f.label :_destroy, f.object.user_service.service_name %>
	<%= f.hidden_field :user_service_id %>
</span>