<section class="row">
  <div class="col-md-6 col-md-offset-3">
  	<section class="panel panel-default">
  		<section class="panel-heading">
  			<h3 class="panel-title">
  				Haz tu pedido
  			</h3>
  		</section>
  		<section class="panel-body">
				<%= render 'form' %>
			</section>
		</section>
	</div>
</section>